#main_container {
  padding: 1rem;
}

#main_container > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.singe_card {
  background-color: #f4ffff;

  min-height: 60vh;
  margin: 1rem;
  border-radius: 2vh;

  /* border: 0px solid black;
  outline: 0px solid black;
  outline-offset: -4px; */

  border-bottom: 1px solid black;
  text-align: center;

  color: black;

  transition: 250ms ease-in-out;
}

.singe_card:hover {
  outline-offset: 0px;
  /* border: 2px solid black; */
  transform: scale(1.02);
}

.singe_card:hover .title {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

.singe_card > img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  border-radius: 2vh;
}

.singe_card > h4 {
  color: black;
}

.side_by_side {
  display: flex;
  justify-content: space-between;
  padding: 0 1vh;
}

.author_of_article {
  line-break: anywhere;
}

.source_name {
  text-align: end;
  margin-right: 1.5rem;
  font-style: italic;
}

/* Web Skeleton code here  */

.skeleton {
  text-align: center;
}

.skeleton > section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  height: 98vh;
  width: 98vw;
}

.skeleton_single {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: cursive;
}


.skeleton_single > h3{
  font-size: 3rem;
}